<% provide(:title, "All users") %>

<div class="row">
	<div class="col-md-4">
		<div class="user-info">
			<%= render 'shared/user_info' %>	
		</div>
	</div>

	<div class="col-sm-6">
		<%#= will_paginate %>
		<div class="list-group">
			<li class="user list-group-item user-item-group disabled"><h4>All Users</h4></li>
				<% #1.opcija %>
				<%# @users.each do |user| %>
					<%#= render 'users/user', user: user %>
				<%# end %>
					
				<% #2. opcija %>
				<%# @users.each do |user| %>
					<%#= render user %>
				<%# end %>

				<% #3.opcija %>	
				<%= render @users %>
			
			<%= will_paginate %>
		</div>
	</div>
</div>