<div class="panel panel-info">
	<div class="panel-heading">
		<h4><%= link_to current_user.name, current_user %></h4>
	</div>
	
	<div class="panel-body">
		<div class="row profile-w">
			<div class="col-md-10">
				<%= link_to gravatar_for(current_user, size: 140, className: "img-thumbnail"), current_user %>
				<h4><%= link_to current_user.email, current_user %></h4>
			</div>
		</div>
	</div>

	<div class="panel-footer">
		<p class="text-info">
			<strong>
				<%= link_to pluralize(current_user.microposts.count, "tweet"), current_user %>
			</strong>
		</p>
	</div>
</div>



