<footer class="footer">
	<small>
		MG Social Site by Miroslav Gojic. <%= link_to "Contact email", 'mailto: miroslav.gojic.78@gmail.com' %>
	</small>
	<nav>
		<ul>
			<li><%= link_to "About", '#' %></li>
			<li><%= link_to "Contact", '#' %></li>
			<li><a href="http://news.railstutorial.org/">News</a></li>
		</ul>
	</nav>
</footer>